apiVersion: 1

providers:
  - name: 'Default Dashboards'
    orgId: 1
    folder: ''
    type: file
    disableDeletion: false
    editable: true
    options:
      # Directorio donde Grafana buscará los dashboards JSON
      path: /var/lib/grafana/dashboards
